@use 'config';

.App {
  flex: auto;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  color: var(--text);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


h2,h3,p{
  color: var(--text);
  overflow-wrap: anywhere
}

.canvas {
  max-width: 100%;
  max-height: 100%;
}

.lobbyWrap {
  display: flex;
  border: 2px solid var(--borders);
  .lobbyUserList {
    //float: left;
    width: 30%;
    border: 2px solid var(--borders);
  }
  .lobbyInput {
    width: 100%;
    border: 2px solid var(--borders);
  }
}

.mpWrapper{
  //height:100%;
  //overflow-y: hidden
}

 .chatWrapper{
    display: flex;
    justify-content: center;
    //border:10px solid black;
   max-height: 100%;
    height: 100%;
    .chatBox{
      //border:10px solid black;
      margin: 0 0 20px 20px;
      float:left;
      width: 100%;

    }
    .chatList{
      //border:10px solid black;
      //display: flex;
      //flex-direction: column-reverse;
      width: 100%;
      overflow-anchor: auto !important;
      transition: all 0.5s ease;
      align-self:flex-end;
      float:left;
      max-height:200px;
      overflow-y:scroll;
      overflow-wrap: anywhere;
      margin: 20px 20px 20px 20px;
      padding: 0 50px 0 0;
      //border: 2px solid var(--borders);
      border-radius: 5px;
    }
  }
  .chatButton{
    margin: 0 0 0 20px;
  }


html, body {
  background-color: var(--dark);
}

.menu {
    background-color: var(--medium);
    max-width: 100%;
    width: 100%;
    //padding: 0 0 20px 0;
    //height: 60px;
    border: 2px solid var(--borders);
    margin: auto;
    text-align:center;

    .menuButton {
      background-color: var(--darkest);
      color: var(--buttonText);
      float: left;
      margin: 7px 0 7px 7px;
      //vertical-align: middle;
      //position: relative;
      //top: 50%;
      //transform: translate(0, -50%);
      //margin: auto;
    }
    .menuButton:hover{
      background-color: var(--lightest);
      color: var(--menubuttonhover);
    }
    .menuHeader {
      float: left;
      margin: 0 0 4px 10px;
      padding: 0 20px 0 0;
      //vertical-align: middle
    }
    .levelBar {
      float: right;
      background-color: var(--light);
      border: 2px solid var(--borders);
      border-radius: 4px;
      padding: 2px;
      margin: 4px 50px 0 0;
      .bar{
        margin: 0 0 0 10px;
      }
      .coins {
        float:right;
        margin: 0 0 0 10px;
      }
    }
  }

.myLi {
  padding: 0 50px 0 0;
}
.rightLi {
  float: right;
  padding: 0 50px 0 0;
}

.frameContainers {
  background-color: var(--light);
  display: flex;
}

.inputBox {
  background-color: var(--inputBox);
  color: var(--inputBox2);
}
/*
.myButton {
  background-color: var(--buttons);
  color: var(--buttonText);
  margin: 5px;
  border: 1px solid var(--borders);
  border-radius: 10px;
  transition-duration: 0.4s;
  :hover {
    color: black;
  }
}*/

button {
  background-color: var(--dark);
  color: var(--buttonText);
  margin: 5px
}
button:hover{
  background-color: var(--lightest);
  color: var(--menubuttonhover);
}

.loginContainer {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.loginInner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.loginBox {
  width: 75vw;
  padding: 10px;
  background-color: var(--popups);
  border-radius: 10px;
  border: 2px solid var(--borders);
  text-align: center;
  z-index: 3;
  .p {
    float: none;
  }
}

.infoContainer {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.infoInner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.infoBox {
  width: 75vw;
  padding: 10px;
  background-color: var(--popups);
  border-radius: 10px;
  border: 2px solid var(--borders);
  text-align: center;
  z-index: 3;
  .p {
    float: none;
  }
}

.deacContainer {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.deacInner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.deacBox {
  width: 75vw;
  padding: 10px;
  background-color: var(--popups);
  border-radius: 10px;
  border: 2px solid var(--borders);
  text-align: center;
  z-index: 3;

  .p {
    float: none;
  }
}

.itemWidget {

}

.settingsContainer {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.settingsInner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.settingsBox {
  width: 75vw;
  padding: 10px;
  background-color: var(--popups);
  border-radius: 10px;
  border: 2px solid var(--borders);
  text-align: center;
  z-index: 3;

  .p {
    float: none;
  }
}

.confirmContainer {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.confirmInner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.confirmBox {
  width: 75vw;
  padding: 10px;
  background-color: var(--popups);
  border-radius: 10px;
  border: 2px solid var(--borders);
  text-align: center;
  z-index: 3;

  .p {
    float: none;
  }
}


.binky {
  display: flex;
  flex-direction: row;
  flex: auto;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
}

.contents {
  flex: auto;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  border: 4px solid var(--borders);
  width: fit-content;
  object-fit: cover;
}

.contents2 {
  border: 4px solid var(--borders);
}

.myLi {
  float: left;
}