:root, [data-theme="Default"] {
    --borders: black;
    --buttons: grey;
    --buttonText: white;
    --popups: #328132;
    --text : black;

    --lightest: limegreen;
    --light: #4ea04e;
    --medium: green;
    --dark: #2b642b;
    --darkest: darkgreen;
    --treeStroke: darkgreen;
    --treeBorder: black;
    --treeBg: limegreen;
}
[data-theme="High Contrast"] {
    --borders: white;
    --buttons: black;
    --buttonText: yellow;
    --popups: black;
    --text : yellow;
    --inputBox: yellow;
    --inputBox2: cyan;
    --menubuttonhover: cyan;

    --lightest: black;
    --light: black;
    --medium: black;
    --dark: black;
    --darkest: black;
    --treeStroke: cyan;
    --treeBorder: yellow;
    --treeBg: black;
}
[data-theme="Monochrome"] {
    --borders: black;
    --buttons: grey;
    --buttonText: white;
    --popups: grey;
    --text : black;

    --lightest: #a1a1a1;
    --light: #626262;
    --medium: #414141;
    --dark: #282828;
    --darkest: black;
}
[data-theme="Sea"] {
    --borders: black;
    --buttons: grey;
    --buttonText: white;
    --popups: #56b2ac;
    --text : black;

    --lightest: #78c4b6;
    --light: #50bdb8;
    --medium: #329b92;
    --dark: #016e6e;
    --darkest: #14505d;
}
[data-theme="Red"] {
    --borders: black;
    --buttons: grey;
    --buttonText: white;
    --popups: #b06060;
    --text : black;

    --lightest: #d07f7f;
    --light: #ce5757;
    --medium: #b23939;
    --dark: #800000;
    --darkest: #5d141f;
}
